#root{
	max-width: 670px;
	padding: 60px 20px 20px 20px;
	margin: 0 auto;

	@include mobile-media {
		padding-top: $text-spacing;
	}
}

.page-title{
	font-size: 5.5rem;

	&:before{
		@extend hr;
		display: block;
		content: '';
	}

	@include mobile-media {
		font-size: 4rem;

		&:before{
			margin-top: 0;
		}
	}
}
