input{
	-webkit-appearance: none;
	border-radius: $border-radius;
	border: 0;
	color: #000;
	font-family: $raleway-font-stack;
	text-align: left;
	font-size: 2.1rem;
	font-weight: $bold;
	display: block;
	width: 100%;
	padding: 10px 16px;
	margin-bottom: $text-spacing-half;
	
	&:hover,
	&:focus{
		outline: none;
	}
}

input[type="checkbox"],
input[type="radio"]{
	display: inline-block;
	width: auto;
	margin: 0;
}

input[type="checkbox"]{
	-webkit-appearance: checkbox;
}

input[type="radio"]{
	-webkit-appearance: radio;
}

input[type="number"]{
	text-align: center;
}