input{
	-webkit-appearance: none;
	border-radius: $border-radius;
	border: 0;
	color: #000;
	font-family: $raleway-font-stack;
	text-align: left;
	font-size: 2.1rem;
	font-weight: $bold;
	display: block;
	width: 100%;
	padding: 10px 16px;
	margin-bottom: $text-spacing-half;
	
	&:focus{
		outline: none;
	}
}

input[type="checkbox"],
input[type="radio"]{
	display: inline-block;
	width: auto;
	margin: 0;
}

input[type="checkbox"]{
	-webkit-appearance: checkbox;
}

input[type="radio"]{
	-webkit-appearance: radio;
}

input[type="number"]{
	text-align: center;
}

select{
	min-width: 100%;
	max-width: 100%;
	font-family: $raleway-font-stack;
	font-size: 2.1rem;
	height: 46px;
	font-weight: $bold;
	margin-bottom: $text-spacing-half;
	border-radius: $border-radius;
	cursor: pointer;

	&:focus{
		outline: none;
	}

	@include desktop-media {
		min-width: 60%;
	}
}

.select-wrapper{
	position: relative;
	width: 100%;
	cursor: pointer;

	@include desktop-media {
		width: 60%;
	}

	&:after{
		@extend .icon;
		@extend .icon--small;
		@extend .icon--red-pointer;
		content: '';
		position: absolute;
		top: 14px;
	    right: 15px;
		pointer-events: none;
		cursor: pointer;
	}

	select{
		width: 100%;
		height: auto;
		padding: 10px 16px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

}
