@import url("https://fonts.googleapis.com/css?family=Orbitron:700|Raleway:400,700|Yanone+Kaffeesatz:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Times, TimesNewRoman, "Times New Roman", Georgia, serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

h1, h2, h3, p, ul, ol, form, table, blockquote {
  margin-bottom: 3.52rem; }

h1, h2, h3, h4, h5, h6, th, label {
  font-family: "Yanone Kaffeesatz", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

strong, b {
  font-weight: 700; }

.sans {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

small, .small {
  font-size: 1.7rem; }

label {
  font-size: 2.5rem; }

input, .button,
a.button,
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 10px;
  border: 0;
  color: #000;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 2.1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 1.76rem; }
  input:hover,
  .button:hover,
  button:hover,
  input:focus, .button:focus,
  button:focus {
    outline: none; }

input[type="checkbox"],
[type="checkbox"].button,
button[type="checkbox"],
input[type="radio"], [type="radio"].button,
button[type="radio"] {
  display: inline-block;
  width: auto;
  margin: 0; }

input[type="checkbox"], [type="checkbox"].button,
button[type="checkbox"] {
  -webkit-appearance: checkbox; }

input[type="radio"], [type="radio"].button,
button[type="radio"] {
  -webkit-appearance: radio; }

input[type="number"], [type="number"].button,
button[type="number"] {
  text-align: center; }

.button,
a.button,
button,
[type="button"].button,
button[type="button"],
input[type="button"],
[type="submit"].button,
button[type="submit"],
input[type="submit"] {
  width: auto;
  display: inline-block;
  padding: 10px 30px;
  background: #ed1c24;
  color: #fff;
  font-family: "Yanone Kaffeesatz", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: 0 5px 0 0 #a10e12;
  position: relative; }
  .button:focus,
  a.button:focus,
  button:focus,
  [type="button"].button:focus,
  button[type="button"]:focus,
  input[type="button"]:focus,
  [type="submit"].button:focus,
  button[type="submit"]:focus,
  input[type="submit"]:focus {
    box-shadow: 0 0 0 0 #a10e12;
    top: 5px; }

.button.button--small,
a.button.button--small,
button.button--small,
[type="button"].button--small.button,
button[type="button"].button--small,
input[type="button"].button--small,
[type="submit"].button--small.button,
button[type="submit"].button--small,
input[type="submit"].button--small {
  padding: 5px 60px; }

#root {
  max-width: 670px;
  padding: 20px;
  margin: 0 auto; }

.subscribe-form {
  text-align: left;
  padding: 3.52rem 70px; }
