@import url("https://fonts.googleapis.com/css?family=Orbitron:700|Raleway:400,700|Yanone+Kaffeesatz:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Times, TimesNewRoman, "Times New Roman", Georgia, serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

h1, h2, h3, p, ul, ol, form, table, blockquote {
  margin-bottom: 3.52rem; }

h1, h2, h3, h4, h5, h6, th, label {
  font-family: "Yanone Kaffeesatz", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

strong, b {
  font-weight: 700; }

.sans {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

small, .small {
  font-size: 1.7rem; }

label {
  font-size: 2.5rem; }

hr {
  width: 100%;
  height: 1px;
  border: 0;
  position: relative;
  margin: 3.52rem 0;
  background: linear-gradient(to right, #000 0%, #fff 20%, #fff 80%, #000 100%); }

::selection {
  background: #ed1c24;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #ed1c24;
  color: #fff;
  text-shadow: none; }

input, .button,
a.button,
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 10px;
  border: 0;
  color: #000;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 2.1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 1.76rem; }
  input:hover,
  .button:hover,
  button:hover,
  input:focus, .button:focus,
  button:focus {
    outline: none; }

input[type="checkbox"],
[type="checkbox"].button,
button[type="checkbox"],
input[type="radio"], [type="radio"].button,
button[type="radio"] {
  display: inline-block;
  width: auto;
  margin: 0; }

input[type="checkbox"], [type="checkbox"].button,
button[type="checkbox"] {
  -webkit-appearance: checkbox; }

input[type="radio"], [type="radio"].button,
button[type="radio"] {
  -webkit-appearance: radio; }

input[type="number"], [type="number"].button,
button[type="number"] {
  text-align: center; }

.button,
a.button,
button,
[type="button"].button,
button[type="button"],
input[type="button"],
[type="submit"].button,
button[type="submit"],
input[type="submit"] {
  width: auto;
  display: inline-block;
  padding: 10px 30px;
  background: #ed1c24;
  color: #fff;
  font-family: "Yanone Kaffeesatz", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: 0 5px 0 0 #a10e12;
  position: relative;
  text-align: center;
  min-height: 45px; }
  .button:focus,
  a.button:focus,
  button:focus,
  [type="button"].button:focus,
  button[type="button"]:focus,
  input[type="button"]:focus,
  [type="submit"].button:focus,
  button[type="submit"]:focus,
  input[type="submit"]:focus {
    box-shadow: 0 0 0 0 #a10e12;
    top: 5px; }

.button.button--small,
a.button.button--small,
button.button--small,
[type="button"].button--small.button,
button[type="button"].button--small,
input[type="button"].button--small,
[type="submit"].button--small.button,
button[type="submit"].button--small,
input[type="submit"].button--small {
  padding: 5px 60px;
  min-height: 35px; }

.button.button--large,
a.button.button--large,
button.button--large,
[type="button"].button--large.button,
button[type="button"].button--large,
input[type="button"].button--large,
[type="submit"].button--large.button,
button[type="submit"].button--large,
input[type="submit"].button--large {
  font-size: 5.5rem;
  padding: 5px 60px;
  min-height: 75px; }

.button.button--green,
a.button.button--green,
button.button--green,
[type="button"].button--green.button,
button[type="button"].button--green,
input[type="button"].button--green,
[type="submit"].button--green.button,
button[type="submit"].button--green,
input[type="submit"].button--green {
  background: #72cd10;
  box-shadow: 0 5px 0 0 #488703;
  color: #000; }

.button.button--orange,
a.button.button--orange,
button.button--orange,
[type="button"].button--orange.button,
button[type="button"].button--orange,
input[type="button"].button--orange,
[type="submit"].button--orange.button,
button[type="submit"].button--orange,
input[type="submit"].button--orange {
  background: #ff8417;
  box-shadow: 0 5px 0 0 #9c4900; }

.button.button--white,
a.button.button--white,
button.button--white,
[type="button"].button--white.button,
button[type="button"].button--white,
input[type="button"].button--white,
[type="submit"].button--white.button,
button[type="submit"].button--white,
input[type="submit"].button--white {
  background: #fff;
  box-shadow: 0 5px 0 0 #d1d3d4; }

.input-group {
  position: relative;
  overflow: hidden; }
  .input-group input[type="text"],
  .input-group [type="text"].button,
  .input-group button[type="text"],
  .input-group input[type="email"], .input-group [type="email"].button, .input-group button[type="email"] {
    padding-right: 72px; }
  .input-group button,
  .input-group .button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    box-shadow: none !important;
    border-radius: 0 10px 10px 0;
    -webkit-transition: background 0.3s ease-in-out 0s;
    -moz-transition: background 0.3s ease-in-out 0s;
    -o-transition: background 0.3s ease-in-out 0s;
    transition: background 0.3s ease-in-out 0s;
    cursor: pointer; }
    .input-group button:hover,
    .input-group button:focus,
    .input-group .button:hover,
    .input-group .button:focus {
      top: 0;
      background-color: #ddd; }
    .input-group button:before,
    .input-group .button:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5%;
      height: 90%;
      width: 2px;
      background: linear-gradient(to bottom, #ffffff 0%, #000000 20%, #000000 80%, #ffffff 100%); }

.panel {
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin-bottom: 3.52rem;
  box-shadow: 0 5px 0 0 #d1d3d4; }

#root {
  max-width: 670px;
  padding: 20px;
  margin: 0 auto; }

.subscribe-form {
  text-align: left;
  padding: 3.52rem 70px; }

.difficulty-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px; }

.difficulty {
  position: relative;
  top: 0;
  cursor: pointer;
  -webkit-transition: top 0.2s ease-in-out 0s;
  -moz-transition: top 0.2s ease-in-out 0s;
  -o-transition: top 0.2s ease-in-out 0s;
  transition: top 0.2s ease-in-out 0s; }
  .difficulty:hover,
  .difficulty.selected {
    top: -10px; }

.timer-countdown {
  margin-top: 175px;
  font-family: "Orbitron", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 12.4rem;
  line-height: 1;
  padding: 30px;
  text-align: center;
  background: #fff;
  color: #000;
  border-radius: 10px;
  border: 14px solid #d1d3d4;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  box-shadow: inset 0px 0px 13px 4px rgba(0, 0, 0, 0.4); }
  .timer-countdown span {
    display: inline-block;
    position: relative;
    top: 12px;
    left: -4px;
    text-align: center; }

.timer-controls {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  grid-column-gap: 20px; }
  .timer-controls button {
    width: 100%; }
  .timer-controls .timer-control--explode button,
  .timer-controls .timer-control--delay button {
    font-size: 3rem;
    min-height: 56px; }
