// Intro
.intro{
	position: relative;
	top: -20px;
}

.intro-header{
	margin: 0;
	position: absolute;
	top: 35px;
	left: auto;
	right: auto;
	text-align: center;
	width: 100%;
}

.intro-header__subtitle{
	font-size: 2.4rem;
	display: inline-block;
	margin-bottom: 0.25em;
}

.intro-header__title{
	font-size: 7rem;
	line-height: 0.75em;
	font-weight: $bold;
}

.intro__illustration{
	width: 110%;
	margin-left: -5%;
}

@include desktop-media {	
	.intro-header{
		top: 80px;
	}
	
	.intro-header__subtitle{
		font-size: 3.2rem;
	}
	
	.intro-header__title{
		font-size: 14rem;
	}	
}

// Subscribe form
.subscribe-form{
	text-align: left;
	
	@include desktop-media {	
		padding: 0 $desktop-column-padding;
	}
}