// Intro
.intro{
	position: relative;
	top: -20px;
}

.intro-header{
	margin: 0;
	position: absolute;
	top: 25px;
	left: auto;
	right: auto;
	text-align: center;
	width: 100%;
}

.intro-header__subtitle{
	font-size: 2.1rem;
	display: inline-block;
	margin-bottom: 0.5em;
}

.intro-header__title{
	font-size: 7rem;
	line-height: 0.75em;
	font-weight: $bold;
}

.intro__logo{
	width: 130px;
	height: auto;
}

.intro__illustration{
	width: 110%;
	margin-left: -5%;
}

@include desktop-media {
	.intro-header{
		top: 80px;
	}

	.intro-header__subtitle{
		font-size: 3.2rem;
	}

	.intro-header__title{
		font-size: 14rem;
	}

	.intro__logo{
		width: 210px;
		height: auto;
	}
}

// Subscribe form
.subscribe-form{
	text-align: left;

	.input-group__button{
		padding: 6px 15px 0px 15px;
	}

	@include desktop-media {
		padding: 0 $desktop-column-padding;
	}
}
