// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Raleway:400,700|Yanone+Kaffeesatz:400,700');

// Typographic variables
$base-font-stack: Times, TimesNewRoman, "Times New Roman", Georgia, serif;
$raleway-font-stack: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$yanone-font-stack: "Yanone Kaffeesatz", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$orbitron-font-stack: "Orbitron", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size: 2.2rem;
$small-font-size:  1.7rem;
$leading: 1.6;

$bold: 700;
$regular: 400;

$text-spacing: $base-font-size * $leading;
$text-spacing-half: $text-spacing / 2;
$text-spacing-double: $text-spacing * 2;

// General
html{
	font-size: 62.5%;
}

body{
	font-family: $base-font-stack;
	font-size: $base-font-size;
	font-weight: $regular;
	line-height: $leading;
	color: $text-color;
	background-color: $background-color;
	text-align: center;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,h2,h3,p,ul,ol,form,table,blockquote{
	margin-bottom: $text-spacing;
}

h1,h2,h3,h4,h5,h6,th,label{
	font-family: $yanone-font-stack;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

strong,b{
	font-weight: $bold;
}

.sans{
	font-family: $raleway-font-stack;
}

small, .small{
	font-size: $small-font-size;
}

label{	
	font-size: 2.5rem;	
}