// Colours
$background-color: #000000;
$text-color: #ffffff;

$red: #ed1c24;
$red-dark: #a10e12;
$orange: #ff8417;
$orange-dark: #9c4900;
$green: #72cd10;
$green-dark: #488703;

$light-grey: #d1d3d4;

// Layout
$container-max-width: 630px;
$desktop-column-padding: 70px;
$border-radius: 10px;